@charset "UTF-8";
/* pour lancer la compilation du sass en css :  sass --watch ./sass/style.scss ./public/css/style.css */
/* Resets CSS */
* {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

/*Noir-ish*/
/*Violet clair*/
/*Violet foncé*/
/*Beige*/
/* Beige foncé */
/*Blanc*/
/*Orange*/
/*Orangé/Violet*/
/*Gradients*/
/* Bloc Article*/
.article {
  margin: 17px 25px;
  display: flex;
  border-radius: 9px;
  background-color: #f3e9f1;
  padding: 10px;
}
.article__img {
  width: 30%;
  background-color: white;
  border-radius: 9px;
  padding: 10px;
  margin: 10px;
  width: 200px;
}
.article__desc {
  width: 60%;
  margin: 10px;
}
.article__desc__title {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 9px;
  background-color: white;
  font-weight: bolder;
  font-size: x-large;
}
.article__desc__details {
  margin-top: 10px;
  padding: 5px;
  border-radius: 9px;
  background-color: white;
  font-style: italic;
}
.article__infos {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
}
.article__infos__price {
  font-weight: bolder;
  text-align: center;
}
.article__infos__more {
  text-align: center;
  text-decoration: underline;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #f3e9f1;
  color: #261624;
  font-size: 20px;
}
.footer__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
}
.footer__desc__company {
  font-weight: 900;
}
.footer__desc__address {
  font-size: medium;
}
.footer__conditions {
  background-color: #805768;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
}

@media all and (min-width: 320px) and (max-width: 764px) {
  .footer__desc {
    padding: 20px 0px;
  }
  .footer__conditions {
    display: flex;
    flex-direction: column;
    font-size: medium;
    align-items: center;
  }
}
@media all and (min-width: 765px) and (max-width: 899px) {
  .footer__desc {
    padding: 30px 0px;
  }
  .footer__conditions {
    display: flex;
    flex-direction: row;
    font-size: medium;
  }
}
/* Header */
.header {
  background-color: #f3e9f1;
  display: flex;
  flex-direction: column;
}
.header__logo {
  width: 40%;
}
.header__logo__img {
  padding-left: 20px;
  align-self: center;
}
.header__nav {
  display: flex;
  color: white;
  background-color: #805768;
  font-weight: bolder;
  justify-content: flex-end;
  padding: 10px;
  font-size: large;
}
.header__nav__home {
  padding: 5px 30px;
}
.header__nav__cart {
  padding: 5px 30px;
}
.header__nav__products {
  padding: 5px 30px;
}

@media all and (min-width: 320px) and (max-width: 764px) {
  .header__logo {
    width: 100%;
  }
  .header__logo__img {
    width: 45%;
  }
  .header__nav {
    font-size: medium;
  }
  .header__nav__home {
    padding: 5px 15px;
  }
  .header__nav__cart {
    padding: 5px 15px;
  }
  .header__nav__products {
    padding: 5px 15px;
  }
}
@media all and (min-width: 765px) and (max-width: 899px) {
  .header__logo {
    width: 100%;
  }
  .header__logo__img {
    width: 35%;
  }
  .header__nav {
    font-size: medium;
  }
  .header__nav__home {
    padding: 5px 20px;
  }
  .header__nav__cart {
    padding: 5px 20px;
  }
  .header__nav__products {
    padding: 5px 20px;
  }
}
@media all and (min-width: 900px) {
  .header__logo {
    width: 100%;
  }
  .header__logo__img {
    width: 25%;
  }
  .header__nav {
    font-size: medium;
  }
}
/* Sub-header : Slogan */
.sub-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b7718e;
}
.sub-header__slogan {
  font-size: xx-large;
  font-weight: bolder;
  margin: 40px;
  text-align: center;
}
.sub-header__expedition {
  font-size: medium;
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
