/*Noir-ish*/

$noirish:#261624;

/*Violet clair*/

$violet_clair: #b7718e;

/*Violet foncé*/

$violet_fonce: #8f5bfe;
$violet_dark:#805768;

/*Beige*/

$beige:#f3e9f1;

/* Beige foncé */

$beige_fonce: #bfb7bd;

/*Blanc*/

$blanc:white;

/*Orange*/

$orange:#e18816;

/*Orangé/Violet*/

$orange_violet:#c97b5b;