/*Noir-ish*/

$bordure_liste_deroulante: #261624;
$footer_font:#261624;

/*Violet clair*/

$bg_plus_et_moins: #b7718e;
$sh_color: #b7718e;

/*Violet foncé*/

$bg_nav:#805768;
$price_color:#805768;
$bg_tocart:#805768;
$bg_footer_color:#805768;

/*Beige*/

$beige:#f3e9f1;
$tocart_color:#f3e9f1;

/*Blanc*/

$bg_image_article:white;
$bg_title_article:white;
$bg_details_article:white;
$footer_conditions_font:white;
$header_nav_font:white;

/*Vert*/

$bouton_valider_commande :lightseagreen