.cart {
    &__price {
        margin: 17px 25px;
        text-align: right;
        border-radius: 9px;
        background-color: $bg_cart;
        padding: 10px;
        font-size: large;
        font-weight: bold;
    }
    &__form {
        margin: 17px 25px;
        border-radius: 9px;
        background-color: $bg_cart;
        padding: 10px;
        font-size: medium;
        &__title {
            font-weight: bold;
            padding: 10px;
        }
        &__person {
            display: flex;
            padding: 10px;
            &__lastname {
                padding: 10px;
            }
        }
        &__email {
            padding: 10px;
        }
        &__address {
            padding: 10px;
            &__street {
                padding: 5px;
            }
            &__code {
                padding: 5px;
            }
            &__town {
                padding: 5px;
            }
        }
        &__button {
            margin: 10px;
            padding: 5px;
            background-color: lightseagreen;
            color: $bg_cart;
            font-weight: bold;
        }
    }
}

// CSS Mobile
@media all and (min-width: 320px) and (max-width: 764px) {
    .cart {
        &__price {
            font-size: medium;
        }
        &__form {
            &__person {
                display: flex;
                flex-direction: column;
            }
        }
    }
    #lname,
    #fname,
    #email,
    #street,
    #postcode,
    #town {
        width: 100%;
    }
}

//CSS Tablettes
@media all and (min-width: 765px) and (max-width: 899px) {}

// CSS Laptop and more
@media all and (min-width: 900px) {}