/* Bloc Article*/

.article {
    margin: 17px 25px;
    display: flex;
    border-radius: 9px;
    background-color: $bg_article;
    padding: 10px;
    &__img {
        width: 30%;
        background-color: $bg_image_article;
        border-radius: 9px;
        padding: 10px;
        margin: 10px;
        &--cart {
            width: 8%;
            padding: 5px;
        }
    }
    &__desc {
        width: 50%;
        margin: 10px;
        &--cart {
            align-self: center;
        }
        &__choice {
            &__drop {
                width: 100%;
                margin-bottom: 20px;
                padding: 5px;
                border-radius: 9px;
                border: 3px solid $bordure_liste_deroulante;
                background-color: $bg_drop;
                font-style: italic;
                font-size: large;
            }
        }
        &__title {
            margin-bottom: 10px;
            padding: 5px;
            border-radius: 9px;
            background-color: $bg_title_article;
            font-weight: bolder;
            font-size: large;
        }
        &__details {
            margin-top: 10px;
            padding: 5px;
            border-radius: 9px;
            background-color: $bg_details_article;
            font-style: italic;
            font-size: medium;
        }
    }
    &__infos {
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 10px;
        &__price {
            font-weight: bolder;
            text-align: center;
            color: $price_color;
            font-size: large;
        }
        &__more {
            text-align: center;
            text-decoration: underline;
        }
        &__add {
            display: flex;
            justify-content: space-evenly;
            &__minus {
                background-color: $bg_plus_et_moins;
                padding: 5px;
                border-radius: 5px;
                margin-right: 5px;
                text-align: center;
                font-weight: bold;
                color: $font_plus_et_moins;
                &--cart {
                    align-self: center;
                    height: fit-content;
                }
            }
            &__qty {
                align-self: center;
                &__form {
                    width: 40px;
                    padding: 5px;
                    text-align: center;
                    margin: 5px;
                }
            }
            &__plus {
                background-color: $bg_plus_et_moins;
                padding: 5px;
                border-radius: 5px;
                margin-left: 5px;
                text-align: center;
                font-weight: bold;
                color: $font_plus_et_moins;
                &--cart {
                    align-self: center;
                    height: fit-content;
                }
            }
        }
        &__tocart {
            background-color: $bg_tocart;
            padding: 10px 5px;
            text-align: center;
            border-radius: 10px;
            font-weight: bold;
            color: $tocart_color;
        }
    }
}

#product_photo img {
    width: 100%;
    height: 100%;
}

.product_remove {
    align-self: center;
    background-color: #805768;
    padding: 10px 5px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    color: #f3e9f1;
    margin: 5px;
}

// CSS Mobile
@media all and (min-width: 320px) and (max-width: 764px) {
    .article {
        display: flex;
        flex-direction: column;
        &__img {
            width: fit-content;
        }
        &__desc {
            width: fit-content;
        }
        &__infos {
            width: fit-content;
            align-self: center;
            &__add {
                margin: 10px 0px;
            }
        }
    }
}

//CSS Tablettes
@media all and (min-width: 765px) and (max-width: 899px) {}

// CSS Laptop and more
@media all and (min-width: 900px) {}